* {
    margin:0px;
    padding:0px;
}

@media screen and (min-width: 728px) {
    header {
        font-family: 'Arial','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
        height: 120px;
        width:100%;
        position: fixed;
        z-index: 100;
    
        top: 0;
        left: 0;
    
        animation-name: fadein;
        animation-fill-mode:forwards;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.33,1,0.68,1);
    }
    
    .header00 {
        height: 80px;
        display: flex;
        align-items: center;
        background-color: white;
    }
    
    .header-title {
        margin-right: auto;
        margin-left:10%;
        border: 1px solid black;
        padding: 5px 10px;
    }
    .header-title-p {
        display: none;
    }
    
    header nav {
        padding-right:10%;
    }
    
    header .items0 li {
        list-style: none;
        display: inline-block;
        margin:10px;
    }
    
    header .items0 a {
        color: rgb(15, 71, 255);
        text-decoration:none;
    }
    
    header .items0 a:visited {
        color: rgb(6, 50, 100);
    }
    
    header .items0 a:hover {
        color: rgb(29, 166, 251);
    }
    .items1-p {
        display: none;
    }
    .header10 {
        padding-left: 10%;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
    }
    header .items1 li {
        list-style: none;
        display: inline-block;
        margin:10px;
    }
    header .items1 a {
        color: rgb(219, 227, 255);
        text-decoration:none;
    }
    
    header .items1 a:visited {
        color: rgb(136, 155, 176);
    }
    
    header .items1 a:hover {
        color: rgb(129, 203, 250);
    }
    
    .main00 {
        display: flex;
        justify-content: center;
    
        width: 100%;
        margin-top:220px;
        margin-bottom: 150px;
    }
    .main01 {
        width: 25%;
        overflow: hidden;
    
        text-align: center;
        margin:0 2%;
    }
    .main01-img {
        width: 100%;
        height: 200px;
    
        margin:auto;
        display: block;
        margin-bottom: 20px;
        overflow: hidden;

        align-items: center;
        text-align: center;
    }
    .main01-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: auto;
    }
    .body1 {
        display: flex;
        margin-left: 10%;
        margin-right: 5%;
    }
    .main10 {
        width: 60%;
        text-align: center;
    }
    .main11 {
        margin-top: 50px;
        align-items: center;
        margin-bottom: 50px;
    }
    .main12 {
        width: 80%;
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    
        opacity: 0;
    }
    .main12-img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin:auto;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .main12-img img {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin: auto;
    }
    .main20 {
        width: 40%;
        text-align: center;
    }
    .main21 {
        width: 80%;
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .main21-img {
        width: 80%;
        height: 150px;
        margin:auto;
        margin-top: 50px;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .main21-img img {
        height: 100%;
        width: auto;
        margin: auto;
        border-radius:50%;
    }
    .main22 {
        width: 80%;
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .main22-img {
        width: 60%;
        height: 200px;
        overflow: hidden;
        margin:auto;
        margin-top: 50px;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .main22-img img {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin: auto;
    }
    .main23 {
        margin-top: 100px;
    }
}    

@media screen and (max-width: 728px) {
    header {
        font-family: 'Arial','メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
        height: 120px;
        width:100%;
        position: fixed;
        z-index: 100;
    
        top: 0;
        left: 0;
    
        animation-name: fadein;
        animation-fill-mode:forwards;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.33,1,0.68,1);
    }
    
    .header00 {
        height: 80px;
        display: flex;
        align-items: center;
        background-color: white;
    }
    
    .header-title {
        display: none;
    }
    .header-title-p {
        margin-right: auto;
        margin-left:10%;
        border: 1px solid black;
        padding: 5px 10px;
    }
    
    header nav {
        padding-right:10%;
    }
    
    header .items0{
        display: none;
    }
    header .items1{
        display: none;
    }
    .header10 {
        padding-left: 10%;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
    }
    header .items1-p li {
        list-style: none;
        display: inline-block;
        margin:10px;
    }
    header .items1-p a {
        color: rgb(219, 227, 255);
        text-decoration:none;
    }
    
    header .items1-p a:visited {
        color: rgb(136, 155, 176);
    }
    
    header .items1-p a:hover {
        color: rgb(129, 203, 250);
    }
    
    .main00 {
        display: none;
    }
    .main01 {
        width: 25%;
        overflow: hidden;
    
        text-align: center;
        margin:0 2%;
    }
    .main01-img {
        width: 100%;
        height: 200px;
    
        margin:auto;
        display: block;
        margin-bottom: 20px;
    
        align-items: center;
        text-align: center;
    }
    .main01-img img {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin: auto;
    }
    .body1 {
        margin-top:220px;
        display: row;
    }
    .main10 {
        text-align: center;
    }
    .main11 {
        margin-top: 50px;
        align-items: center;
        margin-bottom: 50px;
    }
    .main12 {
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    
        opacity: 0;
    }
    .main12-img {
        width: 80%;
        height: 250px;
        overflow: hidden;
        margin:auto;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        object-position: 100 50%;
    }
    .main12-img img {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin: auto;
    }
    .main20 {
        text-align: center;
    }
    .main21 {
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .main21-img {
        height: 200px;
        margin: auto;
        margin-top: 100px;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 150px;
    }
    .main21-img img {
        height: 150%;
        width: auto;
        margin: auto;
        border-radius:50%;
    }
    .main22 {
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .main22-img {
        width: 60%;
        height: 250px;
        overflow: hidden;
        margin:auto;
        margin-top: 50px;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .main22-img img {
        height: 150%;
        width: auto;
        object-fit: cover;
        margin: auto;
    }
    .main23 {
        margin-top: 100px;
    }
}

footer {
    margin-top: 100px;
    display: flex;
    height: 200px;
    width:100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%, rgba(26, 41, 253, 0.3) 10%,rgb(12, 0, 53) 30%,rgb(12, 0, 53) 100%);
}
.footer-title {
    padding-top:50px;
    color: aliceblue;    
    margin: auto;
    text-align: center;
}



/* アニメーション--------------------------------------------------- */
.hide {
    display: none;
}
.fadeIn {
    animation-name: fadeIn;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.33,1,0.68,1);
}
.fadeOut {
    animation-name: fadeOut;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.33,1,0.68,1);
}
.header-In {
    animation-name: header-In;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.33,1,0.68,1);
}
.header-Out {
    animation-name: header-Out;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.33,1,0.68,1);
}
.fadeIn-bottom {
    animation-name: fadeIn-bottom;
    animation-fill-mode:forwards;
    animation-duration: 1.0s;
    animation-timing-function: cubic-bezier(0.33,1,0.68,1);
}
@keyframes fadeIn{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut{
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn-bottom {
    0% {
       opacity: 0;
       transform: translateY(50px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}
@keyframes header-In {
    0% {
       transform: translateY(-80px);
    }
    100% {
       transform: translateY(0);
    }
}
@keyframes header-Out {
    0% {
        transform: translateY(0);
    }
    100% {
       transform: translateY(-80px);
    }
}
